<p>
	<b class="label label-info">Flower's Name</b>
	<%= @bouqet.name %>
</p>

<p>
	<b class="label label-info">Flower's Cost</b>
	<%= @bouqet.cost %>
</p>

<p>
	<b class="label label-info">Amount of Flowers</b>
	<%= @bouqet.amount %>
</p>
<p>
	<b class="label label-info">Bouqet's Cost</b>
	<%= @money %>
</p>
	
<%= link_to 'Back', bouqets_path, :class=>"btn btn-success" %>
<input id="myElement" type="button" value="Check Bouqet" class="btn btn-warning"/>
	<script>
		$("#myElement").on("click", function(){
			if ((<%= @money %>)>=100) {
				alert('Nice bouqet!');
			}
			else {
				alert('Bad bouqet!');
			}
		});
	</script>