<%= form_for(@mother) do |f| %>
  <% if @mother.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mother.errors.count, "error") %> prohibited this mother from being saved:</h2>

      <ul>
      <% @mother.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <div class="field">
      <%= f.text_field :name, :class => "form-control", 
      :placeholder => "Name"%>
    </div>
    <div class="field">
      <%= f.text_field :surname, :class => "form-control", 
      :placeholder => "Surname" %>
    </div>
    <div class="field">
      <%= f.number_field :age, :class => "form-control", 
      :placeholder => "Age" %>
    </div>
    <div class="field">
      <%= f.text_field :job, :class => "form-control", 
      :placeholder => "Job" %>
    </div>
    <div class="actions">
      <%= f.submit "Submit", :class => "btn btn-warning" %>
    </div>
  </div>
<% end %>
