<p id="notice"><%= notice %></p>

<p>
  <b class="label label-info">Name</b>
  <%= @mother.name %>
</p>

<p>
  <b class="label label-info">Surname</b>
  <%= @mother.surname %>
</p>

<p>
  <b class="label label-info">Age</b>
  <%= @mother.age %>
</p>

<p>
  <b class="label label-info">Job</b>
  <%= @mother.job %>
</p>

<table class="table">
  <h4>Children:</h4>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Age</th>
  </tr>

<% @children.each do |child| %>
  <tr>
    <td><%= child.name %></td>
    <td><%= child.surname %></td>
    <td><%= child.age %></td>
  </tr>
<% end %>
</table>
<div class="btn-group">
  <%= link_to 'Edit', edit_mother_path(@mother), :class=>"btn btn-success" %>
  <%= link_to 'Back', mothers_path, :class=>"btn btn-success" %>
</div>